@media screen and (min-width: 480px) {
	.container {
		width: 480px;
	}
	.row {
		flex-direction: column;
		margin: 0 auto;
		width: 100%;
	}
	.lessons {
		padding-bottom: 3rem;
	}
	.lessons, .steps, .why-us {
		margin: 0;
	}
	.lessons .col, .steps .col, .why-us .col {
		width: 100%;
	}
	.why-us {
		background-color: #222222;
		padding-top: 3rem;
	}
	.why-us .col-left {
		margin-bottom: 40px;
	}
}